*, *::before, *::after {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.banner {
    padding-top: 160px;
    width: 100%;
    height: 1080px;
    background-image: url('../images/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;

    &__descr {
        width: 50%;
        margin-left: auto;
        margin-right: 0;
        padding-right: 107px;
    }
    h1, h2 {
        margin-top: 38px;
        font-weight: 700;
    }
    h1 {
        font-size: 44px;

        span {
            display: block;
            margin-top: 9px;
            color: #9eeb00;
        }
    }
    h2 {
        font-size: 26px;

        span {
            display: block;
            margin-top: 14px;
        }
    }
    &__img {
        display: none;
    }
    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 44px;

        &-title {
            display: none;
        }
        &-field {
            width: 328px;
            padding: 22px 16px 16px;
            border: none;
            border-radius: 2px;
            box-shadow: 0 3px 6px #00000029;
            font-size: 16px;
            text-align: right;
            outline: none;
            margin-bottom: 30px;
        }
    }
    .btn-contact {
        margin: 23px auto 0;
    }
}

#bannerCheckbox {
    display: none;

    &:checked + label[for="bannerCheckbox"] span::after {
        background-image: url('../images/checkbox-check.svg');
        background-repeat: no-repeat;
        background-size: 85%;
        background-position: center;
        background-color: #9eeb00;
    }
}

label[for="bannerCheckbox"] span {
    position: relative;
    padding-right: 12px;
    font-size: 15px;
    user-select: none;

    &::after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: white;
        box-shadow: 0 3px 6px #00000029;
        position: absolute;
        right: -11px;
    }
}

.btn-contact {
    width: 325px;
    padding-top: 15px;
    padding-bottom: 9px;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(158, 235, 0) 100%);
    box-shadow: 0 3px 6px #00000029;
}

.benefits {
    padding-top: 80px;
    padding-bottom: 110px;
    background: url('../images/benefits-bg.jpg') no-repeat center / cover;

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    &__block {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        div + div {
            margin-left: 70px;
        }
    }
    &__item {
        flex-basis: 25%;
        flex-shrink: 0;
        text-align: center;
        margin-bottom: 30px;

        > span {
            display: block;
        }
        &-badge {
            font-size: 64px;
            font-weight: bold;
            color: #8600ff;
        }
        &-text {
            margin-top: 6px;
            font-size: 38px;
            font-weight: 500;
        }
    }
    &__title {
        margin: 45px auto;
        width: 60%;
        font-size: 38px;
        font-weight: 700;
        color: #87009d;
        line-height: 56px;
        text-align: center;
    }
    &__superiority {
        width: 65%;
        margin: 78px auto 85px;
        display: grid;
        grid-template-columns: repeat(3, 354px);
        gap: 83px;

        &-item {
            height: 354px;
            padding: 45px 35px 20px;
            border-radius: 30px;
            background: linear-gradient(0, rgb(232, 2, 251), rgb(41, 16, 64) 100%);
            box-shadow: 0 2px 10px #00000059;
            text-align: center;

            span {
                display: block;
                color: white;
            }

            img {
                margin-bottom: 38px;
            }
        }
        &-title {
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 16px;
        }
        &-text {
            font-size: 22px;
            font-weight: 500;
            line-height: 30px;
        }
    }
    .btn-contact {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 352px;
        padding-top: 27px;
        padding-bottom: 16px;
    }
}

@-moz-document url-prefix() {
    label[for="bannerCheckbox"] span {
        padding-right: 20px;

        &::after {
            right: -28px;
        }
    }
}

@import 'media/media';