*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.banner {
  padding-top: 160px;
  width: 100%;
  height: 1080px;
  background: url("../images/main-bg.jpg") no-repeat center/cover;
  color: white;
  text-align: center;
}

.banner__descr {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  padding-left: 135px;
}

.banner h1,
.banner h2 {
  margin-top: 38px;
  font-weight: 700;
}

.banner h1 {
  font-size: 44px;
}

.banner h1 span {
  display: block;
  margin-top: 9px;
  color: #9eeb00;
}

.banner h2 {
  font-size: 26px;
}

.banner h2 span {
  display: block;
  margin-top: 14px;
}

.banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 44px;
}

.banner__form-field {
  width: 328px;
  height: 56px;
  padding: 22px 16px 16px;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px #00000029;
  box-shadow: 0 3px 6px #00000029;
  font-size: 16px;
  text-align: right;
  outline: none;
  margin-bottom: 30px;
}

.banner__form-btn-submit {
  width: 325px;
  margin: 23px auto 0;
  padding-top: 18px;
  padding-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#9eeb00));
  background: -o-linear-gradient(top, white, #9eeb00 100%);
  background: linear-gradient(180deg, white, #9eeb00 100%);
  -webkit-box-shadow: 0 3px 6px #00000029;
  box-shadow: 0 3px 6px #00000029;
}

#bannerCheckbox {
  display: none;
}

#bannerCheckbox:checked + label[for="bannerCheckbox"] span::after {
  background-image: url("../images/checkbox-check.svg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  background-color: #9eeb00;
}

label[for="bannerCheckbox"] span {
  position: relative;
  padding-right: 12px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label[for="bannerCheckbox"] span::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  -webkit-box-shadow: 0 3px 6px #00000029;
  box-shadow: 0 3px 6px #00000029;
  position: absolute;
  right: -11px;
}

@-moz-document url-prefix()  {
  label[for="bannerCheckbox"] span {
    padding-right: 20px;
  }

  label[for="bannerCheckbox"] span::after {
    right: -28px;
  }
}

@media (min-width: 1024px) {
  label[for="bannerCheckbox"] span,
  label[for="bannerCheckbox"] span::after,
  .banner__form-btn-submit {
    cursor: pointer;
  }
}