*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.banner {
  padding-top: 160px;
  width: 100%;
  height: 1080px;
  background-image: url("../images/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

.banner__descr {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  padding-right: 107px;
}

.banner h1,
.banner h2 {
  margin-top: 38px;
  font-weight: 700;
}

.banner h1 {
  font-size: 44px;
}

.banner h1 span {
  display: block;
  margin-top: 9px;
  color: #9eeb00;
}

.banner h2 {
  font-size: 26px;
}

.banner h2 span {
  display: block;
  margin-top: 14px;
}

.banner__img {
  display: none;
}

.banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 44px;
}

.banner__form-title {
  display: none;
}

.banner__form-field {
  width: 328px;
  padding: 22px 16px 16px;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px #00000029;
  box-shadow: 0 3px 6px #00000029;
  font-size: 16px;
  text-align: right;
  outline: none;
  margin-bottom: 30px;
}

.banner .btn-contact {
  margin: 23px auto 0;
}

#bannerCheckbox {
  display: none;
}

#bannerCheckbox:checked + label[for="bannerCheckbox"] span::after {
  background-image: url("../images/checkbox-check.svg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  background-color: #9eeb00;
}

label[for="bannerCheckbox"] span {
  position: relative;
  padding-right: 12px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label[for="bannerCheckbox"] span::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  -webkit-box-shadow: 0 3px 6px #00000029;
  box-shadow: 0 3px 6px #00000029;
  position: absolute;
  right: -11px;
}

.btn-contact {
  width: 325px;
  padding-top: 15px;
  padding-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#9eeb00));
  background: -o-linear-gradient(top, white, #9eeb00 100%);
  background: linear-gradient(180deg, white, #9eeb00 100%);
  -webkit-box-shadow: 0 3px 6px #00000029;
  box-shadow: 0 3px 6px #00000029;
}

.benefits {
  padding-top: 80px;
  padding-bottom: 110px;
  background: url("../images/benefits-bg.jpg") no-repeat center/cover;
}

.benefits .container {
  padding-left: 15px;
  padding-right: 15px;
}

.benefits__block {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.benefits__block div + div {
  margin-left: 70px;
}

.benefits__item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 30px;
}

.benefits__item > span {
  display: block;
}

.benefits__item-badge {
  font-size: 64px;
  font-weight: bold;
  color: #8600ff;
}

.benefits__item-text {
  margin-top: 6px;
  font-size: 38px;
  font-weight: 500;
}

.benefits__title {
  margin: 45px auto;
  width: 60%;
  font-size: 38px;
  font-weight: 700;
  color: #87009d;
  line-height: 56px;
  text-align: center;
}

.benefits__superiority {
  width: 65%;
  margin: 78px auto 85px;
  display: grid;
  grid-template-columns: repeat(3, 354px);
  gap: 83px;
}

.benefits__superiority-item {
  height: 354px;
  padding: 45px 35px 20px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#e802fb), to(#291040));
  background: -o-linear-gradient(0, #e802fb, #291040 100%);
  background: linear-gradient(0, #e802fb, #291040 100%);
  -webkit-box-shadow: 0 2px 10px #00000059;
  box-shadow: 0 2px 10px #00000059;
  text-align: center;
}

.benefits__superiority-item span {
  display: block;
  color: white;
}

.benefits__superiority-item img {
  margin-bottom: 38px;
}

.benefits__superiority-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 16px;
}

.benefits__superiority-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.benefits .btn-contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 352px;
  padding-top: 27px;
  padding-bottom: 16px;
}

@-moz-document url-prefix()  {
  label[for="bannerCheckbox"] span {
    padding-right: 20px;
  }

  label[for="bannerCheckbox"] span::after {
    right: -28px;
  }
}

@media (max-width: 1440px) {
  .banner {
    padding-top: 60px;
    padding-bottom: 40px;
    height: 100vh;
  }

  .banner h1 {
    font-size: 38px;
  }

  .banner h2 {
    font-size: 20px;
  }

  .banner__descr {
    padding-right: 80px;
  }
}

@media (max-width: 1280px) {
  .banner {
    background-image: url("../images/background/main-bg__second.jpg");
  }

  .banner .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .banner__descr {
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .banner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .banner h1,
  .banner h2 {
    margin-top: 20px;
  }

  .banner h1 {
    font-size: 30px;
  }

  .banner h2 {
    font-size: 16px;
  }

  .banner__form {
    margin-top: 30px;
  }

  .banner__form-field {
    padding: 16px 16px 12px;
  }

  .banner__form-btn-submit {
    padding-top: 14px;
    padding-bottom: 6px;
  }
}

@media (min-width: 1024px) {
  label[for="bannerCheckbox"] span,
  label[for="bannerCheckbox"] span::after,
  .btn-contact {
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  .banner {
    padding-bottom: 25px;
    height: initial;
    background-image: url("../images/background/bg-color.jpg");
  }

  .banner__descr {
    width: initial;
    margin: initial;
    padding: initial;
  }

  .banner h2 {
    display: none;
  }

  .banner__img {
    display: block;
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .banner__form {
    margin-top: -125px;
    padding: 20px 18px 40px;
    border-radius: 21px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(21px);
    backdrop-filter: blur(21px);
    position: relative;
  }

  .banner__form-title {
    display: block;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }

  .banner__form-field,
  .banner__form-btn-submit {
    max-width: 100%;
  }

  label[for="bannerCheckbox"] span {
    font-size: 12px;
  }
}