@media (max-width: 1024px) {
    .banner {
        padding-top: 40px;
        padding-bottom: 40px;

        h1, h2 {
            margin-top: 20px;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 16px;
        }
        &__form {
            margin-top: 30px;

            &-field {
                padding: 16px 16px 12px;
            }
            &-btn-submit {
                padding-top: 14px;
                padding-bottom: 6px;
            }
        }
    }
    .benefits {
        padding-top: 40px;

        &__block {
            width: 100%;
        }
        &__item {
            &-badge {
                font-size: 50px;
            }

            &-text {
                font-size: 30px;
            }
        }
        &__title {
            margin-top: 0;
            margin-bottom: 20px;
            width: 100%;
            font-size: 32px;
            padding-left: 5%;
            padding-right: 5%;
        }
        &__details {
            margin-top: 30px;
            margin-bottom: 50px;

            &-item {
                height: 330px;
            }

            &-title {
                font-size: 30px;
            }

            &-text {
                font-size: 20px;
            }
        }
    }
}

@media (min-width: 1024px) {
    label[for="bannerCheckbox"] span,
    label[for="bannerCheckbox"] span::after,
    .btn-contact {
        cursor: pointer;
    }
}