@media (max-width: 1024px) {
    .banner {
        padding-top: 40px;
        padding-bottom: 40px;

        h1, h2 {
            margin-top: 20px;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 16px;
        }
        &__form {
            margin-top: 30px;

            &-field {
                padding: 16px 16px 12px;
            }
            &-btn-submit {
                padding-top: 14px;
                padding-bottom: 6px;
            }
        }
    }
}

@media (min-width: 1024px) {
    label[for="bannerCheckbox"] span,
    label[for="bannerCheckbox"] span::after,
    .btn-contact {
        cursor: pointer;
    }
}