@media (max-width: 1280px) {
    .banner {
        background-image: url('../images/background/main-bg__second.jpg');

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
        &__descr {
            padding-right: 0;
        }
    }
    .benefits {
        padding-bottom: 50px;

        &__details {
            grid-template-columns: repeat(2, 354px);
            gap: 40px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}